@use "./base.scss";

/* ========= TU CSS ========= */

/* Texto */
p {
    text-align: justify;
    text-indent: 2em;
    line-height: 1.8;
    margin-bottom: 1.2em;
}

/* Espaciado */
.page-content {
    padding-left: 20px;
    padding-right: 20px;
}

/* Títulos */
h1, h2, h3 {
    line-height: 1.4;
}
